NODE_ENV="development"
PORT=4000
DATABASE_URL=""
JWT_ACCESS_TOKEN_SECRET=""
JWT_REFRESH_TOKEN_SECRET=""
JWT_ACCESS_TOKEN_EXPIRY=""
JWT_REFRESH_TOKEN_EXPIRY=""
REDIS_HOST=""
REDIS_PORT=""
RESEND_API_KEY=""
MAIL_FROM=""
APP_URL=""
WHATSAPP_API_VERSION=""
WHATSAPP_GRAPH_API_BASE_URL=""
WHATSAPP_TOKEN_ENCRYPTION_KEY=""
META_APP_ID=""
META_APP_SECRET=""
META_OAUTH_REDIRECT_URI=""